@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  height: max-content !important;
}

.swiper-wrapper {
  transition-timing-function: linear;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /*padding-left: 150px;*/
}

@media only screen and (max-width: 800px) {
  .swiper-wrapper {
    padding-left: 0;
  }
}

.swiper-container {
  width: 100vw;
}

.swiper-slide {
  width: fit-content !important;
}

#nprogress .bar {
  background: #f58016 !important;
}

#nprogress .spinner-icon {
  display: none;
}

#nprogress .peg {
  box-shadow:
    0 0 10px #f58016,
    0 0 5px #f58016;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1a2c42;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1a2c42;
}

.html * {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit;
}
.html a {
  color: #f78019;
}

.htmlTitle strong {
  color: #f78019;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.htmlTitle span {
  font-size: 3.2rem;
  color: #f58016;
}
