* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 50%;
}

a {
  color: inherit;
  text-decoration: none;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  height: max-content !important;
}

@keyframes scrollDown {
  0% {
    bottom: 5rem;
  }
  25% {
    bottom: 3rem;
  }
  50% {
    bottom: 3rem;
  }
  75% {
    bottom: 3rem;
  }
  100% {
    bottom: 5rem;
  }
}

#nprogress .bar {
  background: #f58016 !important;
}

#nprogress .spinner-icon {
  display: none;
}

#nprogress .peg {
  box-shadow: 0 0 10px #f58016, 0 0 5px #f58016;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1A2C42;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1A2C42;
}
